@{
    ViewData["Title"] = "Register";
}

<style>
    table {
        text-align: left;
    }

    #Email, #Country {
        width: 100%;
    }
</style>

<div id="MyRegisterContainer" class="Text-center">
    
</div>

<script src="~/js/Register.js"></script>